body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Remove custom styles that might affect alignment */

.page-content {
    transition: transform 0.5s ease;
}

.menu-open .page-content {
    transform: translateX(160px);
}

/* Ensure text-left is properly applied */
.text-left {
    text-align: left !important;
}
