{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-4 text-left">NöldekeGPT</h1>
            <p class="text-left">Ich helfe Gästen des Nöldeke in Braunwald mit Informationen aus dem Handbuch (Version: 4.6) und anderen Dokumenten.</p> 
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" class="my-4">
                {% csrf_token %}
                <div class="form-group text-left" style="margin: 0;">
                    <textarea id="userInput" name="user_input" class="form-control" rows="4" placeholder="Frag mich etwas...&#10;Hab Geduld! Das Laden der Antwort dauert leider einen Moment." style="margin: 0;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Abschicken</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card my-4 text-left">
                <div class="card-body">
                    <p><strong>Frage:</strong> {{ user_input }}</p>
                    <p><strong>Antwort:</strong> {{ response|safe }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-left">Vergangene Anfragen</h2>
            {% for qna in past_questions %}
            <div class="card my-4 text-left">
                <div class="card-body">
                    <p><strong>Frage:</strong> {{ qna.question }}</p>
                    <p><strong>Antwort:</strong> {{ qna.answer|safe }}</p>
                    <p><em>Gefragt am {{ qna.timestamp|date:"d M Y H:i" }}</em></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
