{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4 text-left">Fundorte des Tages</h1>
    <div class="card my-4">
        <div class="card-body">
            {% for item, place in fundorte %}
            <div class="row mb-3 align-items-center">
                <div class="col-md-5">
                    <h5 class="card-title">{{ item }}</h5>
                </div>
                <div class="col-md-5">
                    <p class="card-text">{{ place }}</p>
                </div>
            </div>
            <hr class="my-3"/> <!-- Horizontal separator -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
