{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Milchkalender</h1>
    <div class="card my-4">
        <div class="card-body">
            <p><strong>Heutiges Datum:</strong></p>
            <p>{{current_date}}</p>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-body">
            <p><strong>Die nächsten 5 Milchdaten:</strong></p>
            {% for date in future_milk_dates %}
            <p>{{date}}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
