{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <h1 class="mt-4 text-left">Karte</h1>
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/leaflet-tilelayer-swiss@2.3.0/dist/Leaflet.TileLayer.Swiss.umd.js"></script>

    <!-- Define the hikeInfoUrl and staticUrl global variables -->
    <script>
        var hikeInfoUrl = "{% static 'maps/hikeInfo.json' %}";
        var staticUrl = "{% static 'maps/' %}";
    </script>

    <div class="card my-4">
        <div class="card-body">
            <h3>Wanderungen</h3>

            <select id="layerSelector">
                <option value="">Wähle eine Wanderung</option>
                <option value="nussbuehl">Nussbühl</option>
                <option value="oberblegisee">Oberblegisee</option>
                <option value="gumen">Gumen</option>
            </select>
        </div>

        <div class="card-body" id="hikeInfo" style="display: none;">
            <p><strong>Schwierigkeit:</strong> <span id="difficulty"></span></p>
            <p><strong>Typ:</strong> <span id="type"></span></p>
            <p><strong>Länge:</strong> <span id="length"></span></p>
            <p><strong>Auf- / Abstieg:</strong> <span id="altChange"></span></p>
            <!-- <p><strong>Beschreibung:</strong> <span id="description"></span></p> -->
        </div>
    </div>

    <div class="card my-4">
        <div class="card-body">
            <div id="mapid" style="height: 50vh"></div>
        </div>
    </div>

    <script src="{% static 'maps/maps.js' %}"></script>
</div>
{% endblock %}
